
.wrapper {
    /* background-image: url('https://cdn.pixabay.com/photo/2016/12/15/12/41/waterfalls-1908788_1280.jpg'); */
    /* background-repeat: no-repeat; */
    background-color: aliceblue;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.row {
    width: 900px;
    height: 550px;
    border-radius: 15px;
    background: rgba(255, 255, 255);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.side-image {
    background-image: url('../img/template/logo.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px 0 0 15px;
    position: relative;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-box {
    width: 330px;
    padding: 20px;
}

.input-box header {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 40px;
}

.input {
    height: 45px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 30px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
    transition: border 0.3s ease;
}

.input:focus {
    border-color: navy;
    box-shadow: 0 0 5px rgba(116, 58, 225, 0.5);
}

.input-field label {
    position: absolute;
    top: -20px;
    left: 10px;
    font-size: 14px;
    color: #555;
    transition: 0.3s ease;
}

.input:focus ~ label,
.input:valid ~ label {
    top: -30px;
    font-size: 12px;
    color: navy;
}

.submit {
    width: 100%;
    padding: 12px;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: rgb(1, 1, 167);
}

@media (max-width: 768px) {
    .row {
        max-width: 90%;
        height: auto;
        padding: 20px;
        border-radius: 15px;
    }

    .side-image {
        display: none;
    }
}
