Options All -Indexes

RewriteEngine On
RewriteBase /

RewriteRule ^([-a-zA-Z0-9]+)(?:/([-a-zA-Z0-9]+))?$ index.php?ruta=$1&accion=$2 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Asegurar el archivo .htaccess
<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>

# Denegar acceso a robots maliciosos y navegadores offline
RewriteCond %{HTTP_USER_AGENT} ^Anarchie [OR]
RewriteCond %{HTTP_USER_AGENT} ^ASPSeek [OR]
RewriteCond %{HTTP_USER_AGENT} ^attach [OR]
RewriteCond %{HTTP_USER_AGENT} ^autoemailspider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Xaldon\ WebSpider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Xenu [OR]
RewriteCond %{HTTP_USER_AGENT} ^Zeus.*Webster [OR]
RewriteCond %{HTTP_USER_AGENT} ^Zeus
RewriteRule ^.* - [F,L]
